<form>
  <div class="agregar">
    <div class="agregar_contenedor">

      <select (change)="tipoOperacion($event)" class="agregar_tipo">
        <option value="ing" selected>+</option>
        <option value="egr">-</option>
      </select>

      <input
        type="text"
        name="descripcion"
        id="descripcion"
        class="agregar_descripcion"
        placeholder="Agregar Descripción"
        [(ngModel)]="descripcion"
      />

      <input
        type="number"
        class="agregar_valor"
        placeholder="Valor"
        name="valor"
        id="valor"
        [(ngModel)]="valor"
      />

      <button
        class="agregar_btn"
        type="submit"
        (click)="agregarNovo()"
      >
        <i class="ion-ios-checkmark-outline"></i>
      </button>
    </div>
  </div>
</form>

